$lavender: #d4c1ec;
$lavenderLight: #ece1f8d2;
$dkPurple: #312736;
$purple: #8736b0;
$black: #000000;
$offWhite: #f7f7f7;
$grey: #eeeeee;
$yellow: #f3a712;
$blue: #0c4767;
$lavenderExtraLight: #efe1ff68;
$lavenderDarken: #bca0dd;
