// index.js
body {
    counter-reset: my-counter;
    background-image: url('../images/bg.png');
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: scroll;
}

.main-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover {
    border-radius: 20%;
    h2 {
        span{
            text-align: center;
            text-decoration: none;
        }
    }
}

.hero {
    width: 100vw;
    height: 50vh;

    img {
        object-position: 50% 15%;
    }
}

//blog - post


.blog-post {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .post-subs {
            margin: 0 auto;
            p {
                width: 50vw;
            }
        }
    }

    section{
        width: intrinsic;           /* Safari/WebKit uses a non-standard name */
        width: -moz-max-content;    /* Firefox/Gecko */
        width: -webkit-max-content; /* Chrome */
        width: max-content;
        margin: 0 auto;
    }

}

.album-art{
    img{
        width: 350px;
        border-radius: 15px;
        margin: 0 auto;
    }
}

// search
form#searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .searchInput {
        width: 85vw;
    }
    button {
        margin-left: 10px;
        width: 10vw;
        background-color: #D4C1EC;
        outline: none;
        border: 2px #ffffff00 solid;
        transition: 0.5s border linear;
        &:hover {
            transition: 0.5s border linear;
            border: 2px #312736 solid;
            color: #8736b0;
        }
    }
}


.result-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    a {
        min-width: auto;
        width: 85vw;
        h4 {
            width: 50vw;
            margin: 0 auto;
        }
    }
}


//template - album-page
.blog-album {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.bio {
    margin-top: 15px;
}
/* aside */

.album-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    ol {
        li {
            background-color: #f7f7f7;
            box-shadow: 0 0 2px 4px #eee;
            .post-list-item {
                header{
                    display: flex;
                    flex-direction: column;
                }
                section {
                    text-align: center;
                }
            }
        }
    }
}
.aside-songs{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 250px;
    height: 80vh;
    overflow: scroll;
    align-self: center;
    background-color: #eeeeee;
    text-align: center;
    h2 {
        margin: 5px auto;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    li{
        list-style: none;
        padding: 0 5px;
        height: 15vh;
        align-self: flex-start;
        margin-left: 35px;
        article {
            text-align: left;
            header {
                text-align: left;
            }
        }
        a{
            text-decoration: none !important;
        }
        :last-child {
            padding-bottom: 5px;
        }
    }
}

.post-list-item{
    margin-top: 0;
    :hover,
    :focus {
        text-decoration: underline;
    }
}

header{
    text-align: center;
}


// fonts


.Fountain {
    font-family: renata, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0C4767;
}

.Glitter {
    font-family: confiteria-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #D4C1EC;

}


.Quill {
    font-family: regina, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.Sharpie {
    font-family: filmotype-austin, sans-serif;
    font-weight: 700;
    font-style: normal;
}

section p {
    width: auto;
}

.post-subs {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    text-align: left;
    p {
        margin-bottom: 0;
        font-size: 14px;
    }
}



@media screen and (min-width: 550px) {
    .main-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .album-section{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
    }

    .aside-songs{
        margin-left: 45px;
        text-align: left;
        li {
            height: 50px;
            margin-left: 5px;
            margin-bottom: 5px;
        }
    }
}



@media screen and (min-width: 1000px) {
    .hero {
        height: 75vh;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .header-link-home {
            flex-grow: 4;
        }
        nav {
            margin: 0 0 0 auto;
        }
    }
    form#searchForm{
        .searchInput {
            width: 55vw;
            height: 2.2rem;
        }
    }


    .album-section {
        .aside-songs {
            width: 55vw;
            height: 50vh;
            flex-grow: 4;
        }
    }
}