@use 'colors' as color;
@use 'fonts';
@use 'index-page';
@use 'album-overview';
@use 'blog-post';
@use 'search';
@use 'breakpoints';



// index.js
body {
    counter-reset: my-counter;
    background-image: url('../images/bg.png');
    background-position: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: scroll;
}
.bio {
    margin-top: 15px;
}
header{
    text-align: center;
}

